body {
	margin: 0px;
	padding: 0px;
}
h1 {
	color: lightblue;
	font-family: calibri;
	font-size: 100px;
}
h2 {
	color: teal;
	font-family: calibri;
	font-size: 20px;
	text-transform: uppercase;
}
.bg{
	background-image: url(birman1.jpg);
	background-position: center;
	background-size: cover;
	height: 90vh;
}
p {
	font-family: calibri;
	font-size: 20px;
}
button {
	background-color: lightblue;
	color: black;
	border: 2px solid #4CAF50; 
	padding: 10px 18px; 
	
}
button {
	float: center;
}

.center{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}
ul{
	padding: 0px;
	margin: 0px;
	display: flex;
}
ul li{
	list-style: none;
	border: 2px solid transparent;
	font: 15px;
	font-weight: bold;
	margin: 30px;
	border-radius: 15px;
	font-family: calibri;
}
ul li a{
	text-decoration: none;
	padding: 15px 35px;
	display: block;
	text-align: center;
	border-radius: 15px;
	transition: all 0.5s ease-in-out;

}
ul li:nth-child(1) a{
	color: #D3D3D3;
	border: 2px solid rgb(211,211,211,1);
}
ul li:nth-child(2) a{
	color: #FFA500;
	border: 2px solid rgb(255,165,0,1);
}
ul li:nth-child(3) a{
	color: #ffffff;
	border: 2px solid rgb(255,255,255,1);
}
ul li:nth-child(4) a{
	color: #00ff00;
	border: 2px solid rgb(0,255,0,1);
}
ul li:nth-child(1):hover a{
	box-shadow: 0px 0px 5px rgb(211,211,211,1), 0px 0px 10px rgb(211,211,211,1);
	background-color: rgb(211,211,211,0.5);
}ul li:nth-child(2):hover a{
	box-shadow: 0px 0px 5px rgb(255,165,0,1), 0px 0px 10px rgb(255,165,0,1);
	background-color: rgb(255,165,0,0.5);
}
ul li:nth-child(3):hover a{
	box-shadow: 0px 0px 5px rgb(255,255,255,0.5), 0px 0px 10px rgb(255,255,255,1);
	background-color: rgb(255,255,255,0.5);
}
ul li:nth-child(4):hover a{
	box-shadow: 0px 0px 5px rgb(0,255,0,0.5), 0px 0px 10px rgb(0,255,0,1);
	background-color: rgb(0,255,0,0.5);
}
#social-media-icons {float: center;}
#social-media-icons ul li {display: inline;}
#social-media-icons {padding-left: 10px;}
